@charset "utf-8";

*{
    margin: 0;
    padding:0;
}

body {
    cursor: url(iconos/cursor-flecha.svg), auto;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: url(iconos/cursor.svg), auto;
}

#botonera {
    width: 100%;
    height: 80px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    font-family: "Space Grotesk";
    padding: 0 5%;
    box-sizing: border-box;
}

.botones {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    color: #323232;
}

.home {
    font-size: 2em;
    color: #323232;
}

.boton {
    background-color: #D9D9D9;
    border-color: #B2B1D9;
    border-style: solid;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton:hover {
    background-color: #B2B1D9;
}

.boton_contacto {
    background-color: #B2B1D9;
    border-color: #B2B1D9;
    border-style: solid;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
}

.portada {
    width: 100%;
    height: 750px;
    background-color: #B2B1D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Space Grotesk";
    font-size: 3em;
    color: #323232;
}

.hola {
    font-family: "Space Grotesk";
    font-size: 2.5em;
    font-weight: 700;
}

.parrafo_sobre_mi {
    width: 45%;
    font-family: "Noto Sans";
    line-height: 1.6em;
    font-size: 1.2em;
}

.foto_mia {
    height: 371px;
    width: 430px;
    border-style: solid;
    border-color: #B2B1D9;
    border-radius: 50px;
}

.secciones {
    width: 100%;
    height: 700px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secciones-lila {
    width: 100%;
    height: 700px;
    background-color: #B2B1D9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 30px;
    box-sizing: border-box;
}

.contenedor-centro {
    width: 70%;
}

.contenedor-elementos {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Space Grotesk";
    color: #323232;
    font-size: 1.2em;
    font-weight: 500;
}

.titulo_seccion {
    width: 220px;
    height: 50px;
    background-color: #B2B1D9;
    border-style: solid;
    border-radius: 50px;
    border-color: #323232;
    font-family: "Space Grotesk";
    font-size: 1em;
    color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

h3 {
    font-family: "Space Grotesk";
    font-style: bold;
    font-size: 1.5em;
    color: #323232;
}

h3:hover {
    color: #B2B1D9;
}

.space_bold {
    font-family: "Space Grotesk";
    font-weight: 600;
}

.trabajo {
    width: 500px;
    height: 450px;
    background-color: #F4F0ED;
    border-style: solid;
    border-color: #B2B1D9;
    border-radius: 50px;
    font-family: "Noto Sans";
    line-height: 1.6em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    justify-content: left;
    gap: 10px;
    padding: 40px;
    box-sizing: border-box;
    list-style-type: disc;
    list-style-position: inside;
}

.noto-italic {
    font-style: italic;
}

.imagen_proyectos {
    border-style: solid;
    border-color: #B2B1D9;
    border-radius: 50px;
    margin-bottom: 10px;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagen_proyectos:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* contacto */

form {
    background-color: #D9D9D9;
    width: 550px;
    height: 500px;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

input {
    background-color: #D9D9D9;
    border: #323232;
    border-style: solid;
    border-radius: 25px;
    width: 230px;
    height: 40px;
    display: flex;
    font-family: "Noto Sans";
    flex-direction: column;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.etiqueta-ancha {
    background-color: #D9D9D9;
    border: #323232;
    border-style: solid;
    border-radius: 25px;
    width: 490px;
    height: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.etiqueta-mensaje {
    background-color: #D9D9D9;
    border: #323232;
    border-style: solid;
    border-radius: 25px;
    width: 490px;
    height: 185px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
}

.primera_linea {
    display: flex;
    gap: 15px;
}

label {
    font-family: "Space Grotesk";
    display: block;
    padding-bottom: 5px;
    padding-left: 10px;
}

.textos_contacto {
    color: #323232;
    display: flex;
    width: 450px;
    height: 310px;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.textos_contacto h2 {
    font-family: "space grotesk";
    font-size: 2.8em;
}

.textos_contacto p {
    font-family: "noto sans";
    font-size: 1.5em;
}

/* fin contacto */

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    background-color: #323232;
    color: #D9D9D9;
    font-family: "noto sans";
    font-size: 0.8em;
}

footer li {
    list-style: none;
}

.redes-footer {
    display: flex;
    gap: 12px;
}

/* proyectos */

body {
    background-color: #D9D9D9;
}

.contenedor-slider-proyectos {
    padding: 0px 180px;
}

.slider-proyectos::-webkit-scrollbar {
    display: none;
}

.slider-proyectos {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
padding-top: 30px;
}

.imagen-ventana-proyectos {
    border-style: solid;
    border-color: #323232;
    border-radius: 50px;
}

.ventana-proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F0ED;
    width: 1150px;
    height: 530px;
    border-style: solid;
    border-color: #323232;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    gap: 15px;
}

.contenedor-vertical-proyectos{
    display: flex;
    height: 450px;
    flex-direction: column;
    justify-content: space-between;
}

.slider-proyectos h3 {
    color: inherit;
    width: 1150px;
    height: 40px;
    background-color: #B2B1D9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-bottom: 0px;
    border-color: #323232;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.flechas-slider-proyectos {
    padding: 0px 70px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 350px;
}

.slider{
    overflow: hidden;
    padding: 30px 0px;
}
.slider .slide-track{
    display: flex;
    animation: scroll 10s linear infinite;
    width: calc(90px * 28);
    -webkit-animation: scroll 10s linear infinite;
}
.slider .slide{
    width: 200px;
    padding-left: 30px;
}
.slider .slide img{
    width: 100%;
}
@keyframes scroll{
    0%{
        transform: translate(0);
        -webkit-transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-90px * 7));
        -webkit-transform: translateX(calc(-90px * 7));
    }
}

.slider h3 {
    background-color: #B2B1D9;
    color: inherit;
    border-color: #B2B1D9;
    font-size: 1.2em;
    font-weight: 400;
    border-style: solid;
    border-radius: 20px;
    width: 215px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}
