@charset "utf-8";

*{
    margin: 0;
    padding: 0;
}

body {
    cursor: url(iconos/cursor-flecha.svg), auto;
    background-color: #D9D9D9;
}

a {
    color: inherit;
    text-decoration: none;
    cursor: url(iconos/cursor.svg), auto;
}

#botonera {
    width: 100%;
    height: 80px;
    background-color: #D9D9D9;
    display: flex;
    align-items: center;
    font-family: "Space Grotesk";
    padding: 0 5%;
    box-sizing: border-box;
}

.botones {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    color: #323232;
}

footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3% 5%;
    background-color: #323232;
    color: #D9D9D9;
    font-family: "noto sans";
    font-size: 0.8em;
}

footer li {
    list-style: none;
}


.redes-footer {
    display: flex;
    gap: 12px;
}

.home {
    font-size: 2em;
    color: #323232;
}

.boton {
    background-color: #D9D9D9;
    border-color: #B2B1D9;
    border-style: solid;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.boton:hover {
    background-color: #B2B1D9;
}

.boton_contacto {
    background-color: #B2B1D9;
    border-color: #B2B1D9;
    border-style: solid;
    border-radius: 20px;
    width: 150px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0px;
    cursor: url(iconos/cursor.svg), auto;
}

.portada {
    height: 100vh;
    background-color: #B2B1D9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: "Space Grotesk";
    font-size: 3em;
    color: #323232;
}

.hola {
    font-size: 2.5em;
    font-weight: 700;
}

.parrafo_sobre_mi {
    width: 45%;
    font-family: "Noto Sans";
    line-height: 1.6em;
    font-size: 1.2em;
}

.foto_mia {
    border-style: solid;
    border-color: #B2B1D9;
    border-radius: 50px;
}

.secciones {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.secciones-lila {
    width: 100%;
    height: 100vh;
    background-color: #B2B1D9;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 0px 30px;
    box-sizing: border-box;
}

.contenedor-centro {
    width: 70%;
}

.contenedor-elementos {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.contenedor-proyecto {
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: "Space Grotesk";
    color: #323232;
    font-size: 1.2em;
    font-weight: 500;
}

.titulo_seccion {
    width: 220px;
    height: 50px;
    background-color: #B2B1D9;
    border-style: solid;
    border-radius: 50px;
    border-color: #323232;
    font-family: "Space Grotesk";
    color: #323232;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}

h3 {
    font-family: "Space Grotesk";
    font-size: 1.5em;
    color: #323232;
}

h3:hover {
    color: #B2B1D9;
}

.space_bold {
    font-family: "Space Grotesk";
    font-weight: 600;
}

.trabajo {
    width: 500px;
    height: 450px;
    background-color: #F4F0ED;
    border-style: solid;
    border-color: #B2B1D9;
    border-radius: 50px;
    font-family: "Noto Sans";
    line-height: 1.6em;
    font-size: 1.2em;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 40px;
    box-sizing: border-box;
}

.noto-italic {
    font-style: italic;
}

.imagen_proyectos {
    border-style: solid;
    border-color: #B2B1D9;
    border-radius: 50px;
    margin-bottom: 10px;
    object-fit: cover;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.imagen_proyectos:hover {
    transform: scale(1.05); 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

/* contacto */

form {
    background-color: #D9D9D9;
    width: 40%;
    border-radius: 25px;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: center;
    padding: 25px;
    box-sizing: border-box;
}

input {
    background-color: #D9D9D9;
    border: #323232;
    border-style: solid;
    border-radius: 25px;
    width: 100%;
    height: 40px;
    display: flex;
    font-family: "Noto Sans";
    flex-direction: column;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.etiqueta-mitad {
    width: 48%;
}

.etiqueta-ancha {
    background-color: #D9D9D9;
    border: #323232;
    border-style: solid;
    border-radius: 25px;
    width: 100%;
    height: 40px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.etiqueta-mensaje {
    background-color: #D9D9D9;
    border: #323232;
    border-style: solid;
    border-radius: 25px;
    width: 100%;
    height: 185px;
    display: flex;
    flex-direction: column;
    padding-left: 10px;
    padding-top: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.primera_linea {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

label {
    font-family: "Space Grotesk";
    display: block;
    padding-bottom: 5px;
    padding-left: 10px;
}

.textos_contacto {
    color: #323232;
    display: flex;
    width: 30%;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
}

.textos_contacto h2 {
    font-family: "space grotesk";
    font-size: 2.8em;
}

.textos_contacto p {
    font-family: "noto sans";
    font-size: 1.5em;
}

textarea {
    font-family: "noto sans";
}

/* proyectos */

.contenedor-slider-proyectos {
    padding: 0px 180px;
}

.slider-proyectos::-webkit-scrollbar {
    display: none;
}

.slider-proyectos {
    display: flex;
    flex-wrap: nowrap;
    overflow-x: auto;
    scroll-behavior: smooth;
    padding-top: 30px;
    height: 100vh;
}

.imagen-ventana-proyectos {
    border-style: solid;
    border-color: #323232;
    border-radius: 50px;
}

.ventana-proyectos {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F0ED;
    width: 1150px;
    height: 530px;
    border-style: solid;
    border-color: #323232;
    border-bottom-left-radius: 50px;
    border-bottom-right-radius: 50px;
    gap: 15px;
}

.contenedor-vertical-proyectos{
    display: flex;
    height: 450px;
    flex-direction: column;
    justify-content: space-between;
}

.slider-proyectos h3 {
    color: inherit;
    width: 1150px;
    height: 40px;
    background-color: #B2B1D9;
    display: flex;
    justify-content: center;
    align-items: center;
    border-style: solid;
    border-bottom: 0px;
    border-color: #323232;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
}

.flechas-slider-proyectos {
    padding: 0px 70px;
    display: flex;
    justify-content: space-between;
    position: relative;
    bottom: 450px;
}

.slider{
    overflow: hidden;
    padding-bottom: 30px;
}
.slider .slide-track{
    display: flex;
    animation: scroll 10s linear infinite;
    width: calc(90px * 32);
    -webkit-animation: scroll 10s linear infinite;
}
.slider .slide{
    width: 200px;
    padding-left: 30px;
}
.slider .slide img{
    width: 100%;
}
@keyframes scroll{
    0%{
        transform: translate(0);
        -webkit-transform: translateX(0);
    }
    100%{
        transform: translateX(calc(-90px * 8));
        -webkit-transform: translateX(calc(-90px * 8));
    }
}

.slider h3 {
    background-color: #B2B1D9;
    color: inherit;
    border-color: #B2B1D9;
    font-size: 1.2em;
    font-weight: 400;
    border-style: solid;
    border-radius: 20px;
    width: 215px;
    height: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
}

/*------GALERÍA-------*/

#galeria {
	display: none;
	width: 100%;
	justify-content: center;
	height: 100vh;
	background-color: #D9D9D9;
	position: absolute;
	top: 0;
	z-index: 10;
}

#galeria-oculta {
	display: flex;
	width: 100%;
	max-width: 1450px;
	overflow: hidden;
	z-index: 20;
}

.fraccion-galeria {
	display: flex;
	align-items: center;
	background-repeat: no-repeat;
	background-position: center;
	background-size: contain;
	width: 100%;
	min-width: 1450px;
	height: 100vh;
	justify-content: space-between;
}

.primer-ultima-flecha {
	visibility: hidden;
}

.close {
	position: absolute;
	top: 10px;
	right: 2%;
}

/*------IDS CON LAS IMÁGENES DE LA GALERÍA-------*/

#foto-1 {
	background-image: url("img/img-proyectos/galeria-oculta/catalogo-aqua-grande-1.jpg");
}

#foto-2 {
	background-image: url("img/img-proyectos/galeria-oculta/catalogo-aqua-grande-2.jpg")
}

#foto-3 {
	background-image: url("img/img-proyectos/galeria-oculta/catalogo-aqua-grande-3.jpg");
}

#foto-4 {
	background-image: url("img/img-proyectos/galeria-oculta/recetario-grande-1.jpg");
}

#foto-5 {
	background-image: url("img/img-proyectos/galeria-oculta/recetario-grande-2.jpg")
}

#foto-6 {
	background-image: url("img/img-proyectos/galeria-oculta/recetario-grande-3.jpg");
}

#foto-7 {
	background-image: url("img/img-proyectos/galeria-oculta/fotoproducto-grande-1.jpg");
}

#foto-8 {
	background-image: url("img/img-proyectos/galeria-oculta/fotoproducto-grande-2.jpg")
}

#foto-9 {
	background-image: url("img/img-proyectos/galeria-oculta/fotoproducto-grande-3.jpg");
}

/* contacto adaptacion mobile*/

@media screen and (max-width: 600px) {

    .secciones-lila {
        flex-direction: column;
        height: auto;
        padding: 0px 15px;
    }

    .textos_contacto {
        width: 94%;
        margin: 10% 0%;
    }

    .textos_contacto h2 {
        font-size: 2.3em;
    }

    .textos_contacto p {
        font-size: 1.4em;
    }

    form {
        width: 98%;
        padding: 15px;
        margin-bottom: 10%;
    }

    .primera_linea {
        flex-direction: column;
    }

    .etiqueta-mitad {
        width: 100%;
    }

    footer {
        padding: 5% 2%;
        }

    footer li {
        font-size: 0.8em;
    }
    
    }


